.App {
  text-align: center;
}
.tHead {
  display: flex;
  justify-content: center;

}
.tBody {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

}

.wrapper {
  border: solid grey 1px;
  padding: 15px;
}

.App-header {
  background-color: #282c34;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table {
  margin: auto;
}
